.ems-page-default-password{
    padding: $small-40 $small-20 $small-20 $small-20;
    .pageDescDefault {display: none;}
    a.btnSifreGuncelle{
        display: block;
        max-width: 220px;
        margin-top: $small-30;
        margin-left: auto;
        margin-right: auto;
    }
    .ems-message{
        margin-top: $reset;
    }
}

/*Password Forget*/
.pageSifremiUnuttum, .pageUyeSifreReset{
    padding: $small-20;
    .ems-message{
        margin-top: $reset;
    }
    .backToMember{
        display: inline-block;
    }
}
.pageHeaderSifremiUnuttum,
.pageHeaderUyeSifreReset{
    padding-bottom: $small-20;
}

.pageDescSifremiUnuttum,
.pageDescUyeSifreReset{display: none;}

.pageSifremiUnuttum_mesaj{
    > span[id$="lblSifremiUnuttumBasarili"]{
        width: 100%;
        font-size: 14px;
        text-align: center;
        line-height: 1.2;
        border-width: 1px;
        border-style: solid;
        margin-top: $small-20;
        padding: 10px 10px 10px 40px;
        border-radius: 3px;
        position: relative;
        color: #00941E;
        background-color: #e5f4e7;
        border-color: #00941E;
        display: block;
        &:empty{
            display: none;
        }
    }
}

.tableSifremiUnuttum,
.tableUyeSifreReset{
    width: 100%;
    tbody{
        tr{
            th, td{
                display: block;
                text-align: left;
                font-weight: normal;
                &:empty{display: none;}
            }
            th{
                padding-bottom: $small-10;
                &:empty{display: none;}
            }
            td{
                #imgCaptcha{
                    max-width: 200px;
                    margin-bottom: $small-10;
                }
                input{
                    margin-bottom: $small-20;
                }
                input[id$="txtUYE_KONTROLKODU"]{
                    margin-top: $small-10;
                }
            }
        }
    }
    .pageLogin_btnUyeSifreGonder{
        table{
            display: table !important;
            width: 100%;
        }
    }
    .btnUyeSifreGonder,
    .btnSifreResetGuncelle{
        display: block;
        max-width: 190px;
        margin-left: auto;
        margin-right: auto;
    }
}

.tableUyeSifreReset{
    > tbody{
        > tr{
            &:last-child{
                td {
                    table{
                        display: table !important;
                        width: 100%;
                    }
                }
            }
        }
    }
}