/*
 * Default
 ========================================================================== */
 .site-pages-member {
    .ems-page-default-follow-list{
        .select-cfg {
            text-align: center;
            > div{
                a.btnDefault{
                    display: inline-block;
                    width: 100%;
                    max-width: 240px;
                    text-align: center;
                    margin-top: $small-20;
                }
            }
        }
        .remove-selected{
            a{
                background: none;
                color: $color-1;
                border-color: $color-6;
            }
        }
    }

    .ems-page-default-follow-list-empty,
    .ems-page-order-empty,
    .ems-page-coupon-empty {
        .img {
            img {
                margin-bottom: 20px;
            }
        }
    }
    
    .ems-page-default-follow-list-empty{
        .select-cfg {
            display: none;
        }
    }

    .ems-grid-default-stock {
        margin-top: $small-20;

        .ems-grid-row {
            position: relative;
            padding: 15px 50px 65px 100px;
            min-height: 190px;
            border-bottom: 1px solid $color-6;

            .ems-grid-img {
                @include Position(absolute, top $small-15 left $small-20);
                width: 70px;
                height: 70px;
    
                a[id$="imageHref"] {
                    display: none;
                }
    
                a img {
                    width: 70px;
                }
            }

            .ems-grid-name {
                a {
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: 0;
                }
            }
            
            .ems-grid-date {
                &:empty {
                    &:before {
                        content: '-';
                    }
                }
            }
            .ems-grid-addCart{
                @include Position(absolute, bottom $small-15 right $small-25);
                width: 42%;
                max-width: 42%;
                a.btnDefault {
                    background: none;
                    border-color: $color-8;
                    color: $color-8;
                    width: 100%;
                    padding: $small-9 $reset;
                }
            }
            .ems-grid-remove {
                @include Position(absolute, top $small-10 right $small-15);
                a.btnDefault {
                    padding: $reset;
                    width: $small-30;
                    height: $small-30;
                    i{
                        line-height:$small-30;
                        &:before{
                            font-size: $small-15;
                        }
                    }
                }
            }
        }
    }
    /*Title Spacing*/
    .ems-page-default-follow-list{
        .page-top-desc{
            display: block;
            padding-top: $small-25;
            padding-left: $small-20;
            padding-right: $small-20;
        }
    }
}