.swiper-container-member {
    overflow: hidden;
    border-bottom: 1px solid $color-6;
    .swiper-inner {
        overflow: visible;
    }

    .swiper-slide {
        width: auto;

        >a {
            display: block;
            font-family: $regular;
            font-size: $small-15;
            text-align: center;
            padding:$small-16 $small-15;
            color: $color-24;
        }

        &.selected {
            >a {
                font-family: $bold;
                color: $color-8;
                &:after{
                    content:'';
                    background: $color-8;
                    width: 100%;
                    height: 2px;
                    @include Position(absolute, bottom 0 left 0);
                    z-index: 1;
                }
            }
        }
    }
}

/* =====================
Description: Message Page Message Tab Menu
===================== */

.swiper-container-member.swiper-container-message-menu{
    margin-left: $small-20;
    margin-bottom: $small-20;
    border-bottom: none;
    .swiper-wrapper{
        flex-direction: inherit;
    }
    .swiper-slide{
        width: auto;
        margin-left: $small-10;
        &:first-child{margin-left: 0;}
        a{
            font-family: $regular;
            font-size: $small-14;
            display:block;
            text-align: center;
            padding: $small-8 $small-10;
            border-radius: 5px;
            border: 1px solid $color-4;
        }
        &.selected{
            a{
                border-color: $color-8;
                font-family: $bold;
                &:before, &:after{
                    display: none;
                }
            }
        }
    }
}
