.markaLogolar{
    @include space(margin, top, 40px);
    ul{
        @include grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: minmax(0,80px);
        align-items: center;
        grid-gap: 20px;
        @include space(padding, left, $reset);
        @include space(padding, right, $reset);
        li{
            width: 100%;
            @include space(margin, all, $reset);
            @include space(padding, all, $reset);
        }
    }
}
.markaAlfabeBaslik{
    display: block;
}