.swiper-container-brands{
    @include space(margin, top, $xxlarge);
    .swiper-slide{
        width: auto;
        a{
            font-size: $small-20;
            letter-spacing: 8px;
            color: #535353;
            text-align: center;
            padding-left: 3px;
            padding-right: 3px;
        }
        &.selected{
            a{
                color: $color-8;
            }
        }
    }
}

.swiper-container-corporate {
    border-bottom: 1px solid $color-6 ;
    .swiper-slide{
        width: auto;
        a{
            font-size: $small-15;
            color: #535353;
            @include space(padding, all, 15px);
        }
        &.select {
            a{
                color: $color-8;
                font-family: $medium;
            }
        }
    }
}