.grid-info-box {
    @include space(margin, left, $xxlarge);
    @include space(margin, right, $xxlarge);
    .grid-info-box-boxes {
        @include grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
        
        li{
            border:1px solid $gray;
            border-radius: $alternate-border-radius;
            width: auto;
            i{
                @include space(margin, top, $large);
            }
        }
    }
}