.cart-section-right{
    background: $color-17;
}
.ems-cart-summary{
    padding: $reset;
}
.ems-cart-summarybottom{
    position: inherit;
    bottom: inherit;
    width: inherit;
    left: inherit;
    padding: $reset;
    z-index: inherit;
    background: inherit;
    a.btnDefault{
        margin-top: $small-15;
    }
}