.ems-gift-tab{
    margin-top: $small-25;
}
.hediyePktAciklama{
    span{
        max-width: 530px;
    }
}
.ems-delivery-wrp.gift{
    padding-left: $small-27;
}
.ems-delivery-wrp.note{
    textarea{
        height: 65px;
        max-width: 685px;
        margin-bottom: $small-10;
    }
}