/*
=========================================
    Description: Ödeme Default Layout
*/

.ems-page-default-order-payment {
    .cart-section-right {
        display: none;
    }

    .cart-section-left {
        padding-top: $reset;
        padding-bottom: $reset;
    }
    .ems-cart-summary{
        margin-top: $reset;
    }
    .pageErrorStokKontrol{
        .uyariError{
            font-size: 14px;
            text-align: center;
            line-height: 1.5;
            border-width: 1px;
            border-style: solid;
            margin-bottom: $small-15;
            padding: $small-10;
            border-radius: 3px;
            color: $alert-error-color;
            background-color: $alert-error-background;
            border-color: $alert-error-border;
            display: block;
            &:empty{display: none;}
        }
    }
}

.ems-page-payment-left{
    padding: $small-25 $small-10 $small-10 $small-10;
}

.ems-page-payment-right {
    background: $color-17;
}

.ems-page-payment-right {
    .cart-section-right {
        display: block;
    }
}

/*Ödeme Secenek*/
.ems-pay-transfer,
.ems-pay-point,
.ems-pay-money-code{
    display: none;
}

.ems-pay-credit-cart {
    padding-left: $small-10;
    padding-right: $small-10;
    .ems-card-wrapper{
        display: none;
    }
    .izy-mainContainer{
        display: block;
    }
}

/*Payment Other*/
.ems-pay-other{
    padding-left: $small-20;
    padding-right: $small-20;
}

/*******
Kredi Kartı
*******/
.tableTitleOdemeBilgiKrediKarti {
    display: none;
}

.tableOdemeBilgiKrediKarti {
    width: 100%;

    tbody {
        tr {

            th,
            td {
                display: block;
                text-align: left;

                &:empty {
                    display: none;
                }
            }

            th {
                font-weight: normal;
                color: $color-26;
                font-size: $small-13;
                padding-bottom: $small-10;
            }

            td {
                padding-bottom: $small-15;
                position: relative;
                .sStylerWrp_select {
                    width: 48%;
                    display: inline-block;
                    vertical-align: top;

                    &:first-child {
                        margin-right: 2%;
                    }

                    &:last-child {
                        margin-left: 2%;
                    }
                }
            }
            .tableOdemeBilgiKrediKarti_tdtxtKKARTNO1{
                input{
                    padding-right: 50px;
                }
            }

            .divtxtKKARTNO,
            .tableOdemeBilgiKrediKarti_tdtxtKKARTISIM {
                input {
                    width: 100% !important;
                }
            }

            .tableOdemeBilgiKrediKarti_tdtxtKKARTCVCNO {
                input {
                    width: 48% !important;
                }

                position: relative;

                span[id$="lbfKKT_CVC_NEDIR"] {
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    vertical-align: middle;
                    text-align: center;
                    line-height: 32px;
                    cursor: pointer;

                    &:before {
                        font-family: 'icomoon';
                        content: '\e916';
                        font-size: $small-20;
                        color: #9b9b9b;
                    }
                }

                .cvc {
                    display: none;
                    position: absolute;
                    width: 100%;
                    max-width: 300px;
                    background: #fff;
                    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.16);
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: $small-10 $small-20;
                    font-size: 13px;
                    color: #8E8E8E;
                    line-height: 1.1;
                    text-align: left;
                    &:after{
                        font-family:'icomoon';
                        content:'\e90e';
                        width: $small-10;
                        height: $small-10;
                        font-size: $small-10;
                        color: #8E8E8E;
                        @include Position(absolute, top $small-15 right $small-15);
                    }
                }

                &.opened {
                    .cvc {
                        display: block;
                    }
                }
            }

            .tableOdemeBilgiKrediKarti_thlbfbtnOdemeTaksit {
                display: none;
                .lnkOdemeTaksit {
                    font-size: $small-15;
                    position: relative;

                    &:before {
                        content: '';
                        border: 1px solid #5A5A5A;
                        border-radius: 3px;
                        width: 17px;
                        height: 17px;
                        position: relative;
                        transition: all .2s ease;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                    }

                    span {
                        vertical-align: middle;
                    }
                }
            }
            .divtxtKKARTNO .div-cc-carttype{
                right: 10px !important;
                top: 50% !important;
                margin-top: -14px;
            }
        }
    }
}

/******
    IzyPay Payment
******/
.izy-mainContainer {
    .izyNewCreditCard{
        > span{
            vertical-align: middle;
        }
    }
}
.izy-dvCardList {
    padding: $small-15 $small-15 $small-15 $small-15;
    border-radius: 3px; 
    border: 2px solid $color-6;
    margin-bottom: $small-20;
}
.deleteCreditCard{
    margin-bottom: $small-15;
    padding-bottom: $small-10;
    border-bottom: 1px solid $color-6;
    display: none;
}
.izyCard.cardItem{
    position: relative;
    margin-bottom: $small-10;
    .lnkDeleteIyziPayCard{
        display: inline-block;
        border-radius: 3px;
        border: 2px solid $color-6;
        padding: $small-7 $small-10;
        font-family: $medium;
        font-size: $small-12;
        margin-top: $small-10;
        color: $color-36;
        min-width: 80px;
        text-align: center;
    }
}

/*Adress*/
.ems-cart-pay-inner {
    .ems-delivery-address {
        border-radius: 3px;
        border: 1px solid $color-4;
        padding: $small-20;
        margin-bottom: $small-20;
    }
}

/*Paymeny Description*/
.ems-pay-type-desc {
    display: none;
    &:empty {
        display: none;
    }

    >span {
        display: block;
        padding-top: $small-30;        
        &:empty {
            display: none;
        }
    }

    .title {
        display: block;
        font-family: $bold;
        font-size: $small-18;
        color: $color-25;
        margin-bottom: $small-10;
    }

    p {
        font-family: $regular;
        font-size: $small-13;
        line-height: 20px;
    }
}

.pageOdemeBilgi_chkBankaBonus{
    display: none !important;
}

.tableTitleOdemeBilgiPesinDiger{
    display: none;
}

.OdemeBilgiPesinDigerOdemeNotu{
    > span{
        font-family: $regular;
        font-size: $small-15;
        display: block;
        color: $color-26;
        &:empty{display: none;}
    }
    textarea{
        max-width: 650px;
        height: 100px;
        margin-bottom: $small-20;
    }
}