.site-page-cover-list{
    z-index: 3;
    position: relative;
    > a{
        @include Position(relative, null);
         &:before{
             content: '';
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             background-blend-mode: multiply;
             background: linear-gradient(to left,transparent 30%,rgba(216,216,216,0.3) 50%);
             z-index: 1;
             display: block;
        }
    }
    img{
        max-height: 250px;
    }
    .grid-banner-box-text{
         max-width: 1200px;
         margin: 0 auto;
         right: 0;
         left: 0;
         top: 50%;
         width: 100%;
         height: auto;
         bottom: inherit;
         @include setTransform(translateY(-50%));
     }
}