.site-pages-login{
    background-image: linear-gradient(rgba(254, 240, 235, 0) 15%,rgba(254,240,235,1) 50%);
    grid-template-columns: 1fr minmax(auto, 400px) 4% minmax(auto, 680px) 1fr;
    grid-template-areas:
    ". A A A ."
    ". . . B ."
    ". D . C ."
    ". D . . .";
    @include space(padding, top, $small-50);
    @include space(padding, left, $small);
    @include space(padding, right, $small);
    @include space(padding, bottom, 50px);
    height: 100vh;
    .logo{
        height: 50px;
    }
    .login-title{
        transform: translateY(-40px);
        max-width: 625px;
        position: relative;
        z-index: 2;
        @include space(margin, top, 40px);
        @include space(margin, left, auto);
        @include space(margin, right, auto);
        @include space(padding, left, $reset);
        @include space(padding, right, $reset);
        h2{
            font-size:$small-27;
            @include space(margin, top, $xSmall);
            @include space(margin, bottom, $xSmall);
            @include space(margin, left, auto);
            @include space(margin, right, auto);
        }
        h3{
            font-size:$small-15;
            line-height: 20px;
        }
    }
    .ems-signup-header{
        > span{
            @include grid();
            grid-template-areas: ". BTN";
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        .ems-login-tab{
            text-align: right;
        }
    }
    .swiper-container{
        @include space(margin, top, -45px);
    }
    .ems-page-member-login{
        @include space(margin, top, -85px);
    }
    .member-login-body{
        @include space(padding, left, $small);
        @include space(padding, right, $small);
    }
    .ems-form-inner{
        .sign-or{
            > span{
                @include space(margin, top, 40px);
            }
        }
        #lnkSifremiUnuttum:hover{
            text-decoration: underline;
        }
    }
    .logo{
        text-align: left;
        img{
            max-width: 147px;
        }
    }
    .column-double{
        width: inherit;
    }
}

body.ems-signup-body{
    .site-pages-login{
        height: 100%;
    }
}

.member-login-header {
    border-top: none;
    > span{
        font-size: 32px;
        @include space(padding, top, $reset);
        @include space(padding, left, $small);
        @include space(padding, right, $small);
        font-size: $small-24;
    }
}

.member-login-box{
    background: $white;
    border: 1px solid $da-light-gray;
    border-radius: 3px;
}

.swiper-container-login{
    display: block;
}