/* Color Palette
===================================*/

$carmine            : #A10014;
$light-peach        : #fcd5c4;
$light-grey         : #8E8E8E;
$greyish-brown      : #e8e5e0;
$pinkish-grey       : #E7E7E7;
$light-grey-two     : #e8e5e0;
$white-two          : #d8d8d8;
$charcoal-grey      : #2a2d37;
$vivid-yellow       : #F9D423;
$strong-blue        : #044291;
$very-light-gray    : #F5F5F5;
$bright-blue        : #2874f0;
$dark-violet        : #5A1EA5;
$dark-gray          : #9B9B9B;
$very-dark-gray     : #1F1F1F;
$very-dark-gray-two : #232323;
$dark-lime-green    : #00941E;
$vivid-orange       : #f8991d;
$very-dark-g        : #5A5A5A;
$gray               : #BEBEBE;
$dustyGray          : #464646;
$doveGray           : #B8B8B8;
$vivid-pink         : #f8991d;
$e9-Gray            : #E9E9E9;
$pink               : #f9deef;
$pink               : #f9deef;
$da-light-gray      : #DADADA;

$color-1            : #1F1F1F;
$color-2            : #FFFFFF;
$color-3            : #a3a3a3;
$color-4            : #dddddd;
$color-5            : #350060;
$color-6            : #E7E7E7;
$color-7            : #000000;
$color-8            : #f8991d;
$color-9            : #d07d10;
$color-10           : #9B9B9B;
$color-11           : #350060;
$color-12           : #E9E9E9;
$color-13           : #2874f0;
$color-14           : #5a1ea5;
$color-15           : #FFCDBD;
$color-16           : #0854b5;
$color-17           : #F5F5F5;
$color-18           : #E20972;
$color-19           : #15e840;
$color-20           : #b1b1b1;
$color-21           : #232323;
$color-22           : #5A5A5A;
$color-23           : #EAECF1;
$color-24           : #535353;
$color-25           : #464646;
$color-26           : #8E8E8E;
$color-27           : #d1e2f6;
$color-28           : #d8d8d8;
$color-29           : #94064A;
$color-30           : #BEBEBE;
$color-31           : #00941E;
$color-32           : #00ea30;
$color-33           : #e5f4e7;
$color-34           : #ec0000;
$color-35           : #f4e5e5;
$color-36           : #999999;
$color-37           : #ff3333;
$color-38           : #dcdcdc;


/* Silinecek */ 
$white : #fff;
$alto : red;
$frenchRose : red;
$black : black;
$wildSand:red;
$emperor: red;
$wildStrawberry:red;
$extraMenuBg: purple;
$outerSpace: red;
$softPeach: red;
$alabaster:red;
$dodgerBlue:blue;
$maroonFlush:red;
$facebook:blue;

/*Color Class Variables*/
.color-1{
    color: $color-1;
}
.color-2{
    color: $color-2;
}
.color-7{
    color: $color-7;
}
.color-8{
    color: $color-8;
}
.color-10{
    color: $color-10;
}
.color-13{
    color: $color-13;
}
.color-14{
    color: $color-14;
}
.color-white{
    color: white;
}