[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-wallet:before {
  content: "\e934";
}
.icon-hearth-active:before {
  content: "\e933";
  color: none;
}
.icon-hand-clear:before {
  content: "\e932";
}
.icon-call:before {
  content: "\e92f";
}
.icon-clock:before {
  content: "\e930";
}
.icon-face:before {
  content: "\e931";
}
.icon-box-2:before {
  content: "\e92a";
}
.icon-pages-1:before {
  content: "\e92b";
}
.icon-timer:before {
  content: "\e92c";
}
.icon-view-3:before {
  content: "\e92d";
}
.icon-view-4:before {
  content: "\e92e";
}
.icon-triangle-bottom:before {
  content: "\e928";
}
.icon-triangle-top:before {
  content: "\e929";
}
.icon-airplane:before {
  content: "\e900";
}
.icon-all:before {
  content: "\e901";
}
.icon-arrow-bottom:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-top:before {
  content: "\e905";
}
.icon-bag:before {
  content: "\e906";
}
.icon-bell:before {
  content: "\e907";
}
.icon-boxes:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-check-minus:before {
  content: "\e90a";
}
.icon-check-small:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-close-1:before {
  content: "\e90d";
}
.icon-close-ellips:before {
  content: "\e90e";
}
.icon-contract:before {
  content: "\e90f";
}
.icon-double-list:before {
  content: "\e910";
}
.icon-eye:before {
  content: "\e911";
}
.icon-food:before {
  content: "\e912";
}
.icon-gift:before {
  content: "\e913";
}
.icon-health:before {
  content: "\e914";
}
.icon-health-empty:before {
  content: "\e915";
}
.icon-info:before {
  content: "\e916";
}
.icon-kid:before {
  content: "\e917";
}
.icon-mb-card:before {
  content: "\e918";
}
.icon-mb-menu:before {
  content: "\e919";
}
.icon-member:before {
  content: "\e91a";
}
.icon-mini-bag:before {
  content: "\e91b";
}
.icon-minus:before {
  content: "\e91c";
}
.icon-minus-small:before {
  content: "\e91d";
}
.icon-original:before {
  content: "\e91e";
}
.icon-personal-care:before {
  content: "\e91f";
}
.icon-return:before {
  content: "\e920";
}
.icon-search:before {
  content: "\e921";
}
.icon-secured:before {
  content: "\e922";
}
.icon-single-list:before {
  content: "\e923";
}
.icon-speed:before {
  content: "\e924";
}
.icon-star:before {
  content: "\e925";
}
.icon-stationery:before {
  content: "\e926";
}
.icon-support:before {
  content: "\e927";
}

.icon-32x32{
  text-align: center;
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  vertical-align: middle;
}