.ems-tab-cat {

    @include space(margin, top, 50px);

    .swiper-container-header {
        border-radius: $default-border-radius;
        border: 1px solid $pinkish-grey;
    }

    .navigation-js {
        .swiper-slide {
            width: 25%;

            >a {
                font-size: $small-13;
                text-align: center;
                color: #535353;
                @include space(padding, all, 10px 3px);

                i {
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    @include space(margin, left, auto);
                    @include space(margin, right, auto);

                    &:before {
                        font-size: $small-20;
                    }
                }

                i,
                span {
                    display: block;
                }
            }

            &.selected {
                >a {

                    span,
                    i:before {
                        color: $vivid-orange;
                    }
                }
            }
        }
    }
}